body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    margin-top: 10px;
}

h1 {
    font-size: 17px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.draggable {
    width: 100px;
    height: 100px;
    margin: 10px;
    cursor: move;
}
